main section.products-index .products,
main section.categories-show .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-rows: min-content;
}
@media screen and (max-width: 1500px) {
  main section.products-index .products,
  main section.categories-show .products {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  main section.products-index .products,
  main section.categories-show .products {
    grid-template-columns: 1fr;
  }
}
main section.products-index .products article,
main section.categories-show .products article {
  font-family: "Montserrat";
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 0.25em;
  border: 0.1em solid rgba(0, 130, 29, 0.3);
  box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px, rgba(0, 130, 29, 0.23) 0px 3px 6px;
}
main section.products-index .products article .soldout,
main section.categories-show .products article .soldout {
  min-width: 110px;
  background: rgba(224, 14, 14, 0.8);
  border: 1px solid rgba(224, 14, 14, 0.8);
  border-radius: 0.25em;
  color: white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
main section.products-index .products article a,
main section.categories-show .products article a {
  text-decoration: none;
}
main section.products-index .products article:hover,
main section.categories-show .products article:hover {
  transition: all 150ms linear;
  background-color: rgba(0, 130, 29, 0.7);
}
main section.products-index .products article:hover h1,
main section.categories-show .products article:hover h1 {
  color: white;
}
main section.products-index .products article:hover button,
main section.categories-show .products article:hover button {
  background: white;
  color: rgba(0, 130, 29, 0.7);
}
main section.products-index .products article img,
main section.categories-show .products article img {
  width: 100%;
  height: auto;
  border: none;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
main section.products-index .products article h1,
main section.categories-show .products article h1 {
  margin: 0;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 130, 29, 0.7);
  font-weight: 700;
  font-family: "Montserrat";
}
main section.products-index .products article h1 span,
main section.categories-show .products article h1 span {
  font-size: 0.8em;
}
main section.products-index .products article h1 span:last-of-type,
main section.categories-show .products article h1 span:last-of-type {
  font-size: 0.5em;
}
main section.products-index .products article div,
main section.categories-show .products article div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
main section.products-index .products article div form,
main section.categories-show .products article div form {
  display: inline-block;
  margin-left: auto;
}
main section.products-index .products article div button,
main section.categories-show .products article div button {
  min-width: 110px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(0, 130, 29, 0.7);
  color: white;
}/*# sourceMappingURL=products.css.map */